<ion-header>
  <ion-toolbar class="myBackgroundColor">
    <ion-buttons slot="start">
      <ion-back-button color='light' defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title color='light'>New Contrbution List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class='mlables' position='stacked'>Title*</ion-label>
   <ion-input placeholder="Your list Title" style="--padding-start: 10px;" minlength=3 [(ngModel)]='title'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class='mlables' position='stacked'>Description</ion-label>
    <ion-textarea placeholder="details of your list(optional)" style="--padding-start: 10px;"  [(ngModel)]='description' rows='4' cols='40'></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label class='mlables' position='stacked'>Location</ion-label>
    <ion-input placeholder="where the event will happen" style="--padding-start: 10px;"  [(ngModel)]='loc'></ion-input>
  </ion-item>

  <ion-item class="ion-align-items-center">
    <ion-label class='mlables' position='stacked'>Location link </ion-label><ion-note style="font-size: small;" class="ion-margin-top">note: you can use google maps or an online meeting link</ion-note>
    <ion-input placeholder="location link that users can follow" style="--padding-start: 10px;"  [(ngModel)]='locLink'></ion-input>
    <ion-button color='medium' (click)='presentModal()' class="ion-margin" class='primary'><ion-icon color="light" name="map-outline"></ion-icon>Maps</ion-button>
  </ion-item><br>
  <ion-label style="margin:16px" class='mlables class="ion-margin"' position="stacked">
    Date & Time
  </ion-label>
  <ion-item class="ion-no-margin">
    <ion-button fill='clear' class="mpickers">
      <ion-icon class="mMargin-bottom" name="calendar-outline"></ion-icon>
      <ion-datetime [(ngModel)]="date"  class="ion-margin"></ion-datetime>
    </ion-button>
    </ion-item>
    <ion-item>
    <ion-button fill='clear' class="mpickers">
      <ion-icon class="mMargin-bottom ion-margin-start" name="time-outline"></ion-icon>
      <ion-datetime class="ion-margin" display-format="h:mm A" picker-format="h:mm A" [(ngModel)]="date"></ion-datetime>
    </ion-button>
  </ion-item>

  <ion-button color='medium' (click)='save()' expand='block'>Save</ion-button>

</ion-content>
