.Title{
  text-align: center;
  color: #2dd36f;
  font-variant-caps: small-caps;
  font-size: 40px;
}
.link{
  color: blue;
}
.centerDev{
  text-align-last: center;
}
.mImage{
    width: 70%;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
