.Title{
  text-align: center;
  color: #000f50;
  font-variant-caps: small-caps;
  font-size: 40px;
}
.link{
  color: blue;
}
.centerDev{
  text-align-last: center;
}
.mImage{
    width: 70%;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.error-message
  {
    color: red;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .submit-btn {
    margin: 48px 12px 12px;
  }
  .myBackgroundColor{
    --background: #000f50;
  }
