<ion-header >
  <ion-toolbar class="myBackgroundColor">
    <ion-title color="light">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <div class="login-content">
    <h1 class="Title" >Collaber</h1>
    <!-- Logo -->
    <ion-img class="mImage" src="..\..\assets\icon\logo.jpeg"></ion-img>
    <!-- Login form -->
    <div *ngIf="login">
      <form>
        <ion-item>
          <ion-label>
            <ion-icon name="person-outline"></ion-icon>
            Username
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      <br>
        <ion-item>
          <ion-label >
            <ion-icon name="lock-closed"></ion-icon>
                          Password
          </ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <div class="centerDev">
        <ion-button class="myBackgroundColor" (click)="signIn()">
        <ion-icon name="log-in" ></ion-icon>
            SIGN IN
        </ion-button>
        <br>
        <ion-label class="link">Forgot Password?</ion-label>
        <p ion-text color="secondary" >New here? <a (click)="toggleRegisterForm()">Sign Up</a></p>
      </div>
    </div>

    <!-- Sign Up Form -->
    <div *ngIf="!login">
      <form [formGroup]="signUpForm" (ngSubmit)="signUp(signUpForm)">
        <ion-item>
          <ion-label position="floating">
            Username
          </ion-label>
          <ion-input formControlName="username" type="text"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.username">
            <div class="error-message" *ngIf="signUpForm.get('username').hasError(validation.type) && (signUpForm.get('username').dirty || signUpForm.get('username').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <br>
        <ion-item>
          <ion-label position="floating" >
            Name
          </ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.name">
            <div class="error-message" *ngIf="signUpForm.get('name').hasError(validation.type) && (signUpForm.get('name').dirty || signUpForm.get('name').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <br>
        <div formGroupName="matching_passwords">
          <ion-item>
            <ion-label position="floating" >Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error-message" *ngIf="signUpForm.get('matching_passwords').get('password').hasError(validation.type) && (signUpForm.get('matching_passwords').get('password').dirty || signUpForm.get('matching_passwords').get('password').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <br>
          <ion-item style="--highlight-color-valid: none;">
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password" formControlName="confirm_password"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.confirm_password">
              <div class="error-message" *ngIf="signUpForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (signUpForm.get('matching_passwords').get('confirm_password').dirty || signUpForm.get('matching_passwords').get('confirm_password').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.matching_passwords">
            <div class="error-message" *ngIf="signUpForm.get('matching_passwords').hasError(validation.type) && (signUpForm.get('matching_passwords').get('confirm_password').dirty || signUpForm.get('matching_passwords').get('confirm_password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <br>
        <ion-item >
        <ion-label position="floating"> Phone Number</ion-label>
          <ion-input formControlName="phone"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.phone">
            <div class="error-message" *ngIf="signUpForm.get('phone').hasError(validation.type) && (signUpForm.get('phone').dirty || signUpForm.get('phone').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              <br>
            </div>
          </ng-container>
        </div>
          <div class="centerDev">
            <ion-button class="myBackgroundColor" type="submit">
              <ion-icon name="log-in"></ion-icon>
                  SIGN up
              </ion-button>
          </div>
      </form>
      <div class="centerDev">
        <p ion-text color="secondary"  >Already have an Account?</p>
        <ion-button fill="clear" (click)="toggleRegisterForm()"  shape="round">
          Sign In
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
