<ion-header>
  <ion-toolbar class="myBackgroundColor">
    <ion-buttons slot="start">
      <ion-back-button color='light' defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Task Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <h2 class="ion-text-center">
    <b>{{this.title.toUpperCase()}}</b>
  </h2>
  <h4 class="ion-text-center ion-no-margin">
    <ion-icon name="hourglass-outline"></ion-icon>
            Due {{this.dueDate}}<ion-note style="font-size: small;" *ngIf="isOverdue()" color='danger'>(Overdue)</ion-note>
  </h4>
  <ion-item-divider></ion-item-divider>
  <ion-grid>
    <ion-row id="firstRow">
      <ion-col>
        <ion-text id="creator"> <B>Created By:</B> <span style="margin-left: 10px;">{{this.username.username}}</span></ion-text>  <br>
        <ion-text id="start"><B> Created On:</B> <span style="margin-left: 8px;">{{this.creationDate}}</span></ion-text>  <br>
        <ion-text [color]="clr"><B>status: </B><span style="margin-left: 44px;">{{this.sts}}</span> </ion-text>
        <br>
        <div class="progress-outer ion-margin-top"><span style="color: black;">Progress&nbsp;{{this.progress}}%</span>
          <div class="progress-inner" [style]="mstyle"> </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card style="margin-bottom: 0px;">
    <h3 style="color:cornflowerblue;" class="ion-text-center"> <b>Files and Media</b></h3>
</ion-card>
  <ion-grid>
    <ion-row>
      <ion-card style="margin-bottom: 0px;" id="subtasks-card">
        <h3 class="ion-text-center"> <b>Sub-tasks</b><br><ion-note >swipe left to delete right to edit</ion-note>
        </h3>
        <ion-card-content style="padding-bottom: 24px;">
          <ion-list  *ngFor="let item of steps;let i=index">
            <ion-item-sliding>
              <ion-item-options side="end">
                <ion-item-option color='light'><ion-icon name="create-outline"></ion-icon></ion-item-option>
              </ion-item-options>
              <ion-item-options side="start">
                <ion-item-option (click)='deleteStep(steps[i].id)' color='light' ><ion-icon color='danger' name="trash-outline"></ion-icon></ion-item-option>
              </ion-item-options>
            <ion-item>
              <ion-text>{{item.data().title}} </ion-text>
              <span *ngIf="b[i]" slot="end" style="color:blue"> ({{fini(steps[i].id)}})</span>
              <ion-checkbox (ionChange)='checkboxHandler(steps[i].id,i)' [(ngModel)]="b[i]" slot="end" color="success"></ion-checkbox>
            </ion-item>
          </ion-item-sliding>
          </ion-list>
          <ion-item *ngIf="newStep">
            <ion-label >Title</ion-label>
            <ion-input [(ngModel)]="stepTitle" placeholder='What to do'></ion-input>
            <ion-button style="height:50%;" color='dark' (click)='addStep()' fill='outline'><ion-icon name="add-circle-outline"></ion-icon></ion-button>
          </ion-item>
          <div style="height: 24px;">
            <ion-button (click)='newStep=true' expand='block' fill='outline'>
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row>
      <ion-card id="comments-card" >
        <h3 class="ion-text-center"> <b>Comments</b></h3>
          <ion-card-content class="ion-no-padding">
            <ion-list *ngFor="let item of comments; let i=index" >
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col size="10">
                      <ion-row id="title-row">
                        <ion-text style="font-size: medium;" color='primary'>{{commenters[i]}}</ion-text>
                      </ion-row>
                      <ion-row id="body-row"><ion-text style="font-size: small;">{{item.comment}}</ion-text></ion-row>
                    </ion-col>
                    <ion-col size="2">
                      <ion-button fill="none" id="response-button" size="default" (click)="respond(0)">
                        <ion-icon name="chatbubble-ellipses-outline" color="primary" id="response-icon"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-note style='float: right;font-size: small;'>{{item.date.toDate().toString().slice(0,21)}}</ion-note>
                </ion-grid>
              </ion-item>
            </ion-list>
            <ion-item>
              <ion-input [(ngModel)]='comment' placeholder='Comment'></ion-input>
                <ion-button (click)="sendComment()" size='large' fill='clear'>
                <ion-icon name="send-outline"></ion-icon>
              </ion-button>
            </ion-item>
            <div style="height: 20px;">
            </div>
            </ion-card-content>
        </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
