#firstRow{
    padding-left: 30px;

}

#subtasks-card{
    width:100% ;
    height: max-content+40px;
    border-radius: 10px;

}

#comments-card{
    width:100% ;
    height: max-content+40px;
    border-radius: 10px;

}
#title-row{
    padding-top: 10px;
    
}
#body-row{
    padding-top: 5px;
    padding-bottom: 10px;
}
#response-button{
    position: absolute;
    top: 20%;
    size: 30px;
}