#card-outline{
 height: 130px;
    

}
#title{
    position: absolute;
    font-size: 17px;
    top: 2%;
}
#creator{
    position: absolute;
    top: 37%;
    font-size: 17px;

}
#more-details{
    position: absolute;
    bottom: 2%;
    font-size: 17px;

}
#prg-title{
    font-size: 15px;
    padding:0px;
    letter-spacing: 1px;
}
#card-avatar{
    height: 70px;
    width: 70px;
}
