<ion-header>
  <ion-toolbar class="myBackgroundColor">
    <ion-buttons slot="start">
      <ion-back-button color='light' defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of tasks; let i = index" lines="none"> <!-- i will make this based on array in task.page.ts, change this and connect it to firestore -->
    <ion-card id="card-outline">
        <!--you can change the task [color]="color" based on the date from the database-->
      <!-- i didnt do this because the date from firestore will have another formate so it is better to do it directly -->
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-avatar id="card-avatar">
            <ion-img src="..\..\assets\icon\logo.jpeg"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col size="9">
          <ion-text id="title">Title: {{item.data().title}} </ion-text>  <br>
          <ion-text id="creator"> Created By: {{this.username[i].username}}</ion-text>  <br>
          <a routerLink='../task-details/{{item.id}}' id="more-details"> View Task Details>> </a> <br>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="3" id="prg-title">Progress</ion-col>
        <ion-col size="9"> <ion-progress-bar color="success" [value]="progress[i]" id="prg-bar"></ion-progress-bar></ion-col>
      </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
