.micon{position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
  display: block;}
.mheader {
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 0px;
  }
  .mLheader {
    font-family: "Times New Roman", Times, serif;
    color: #000;

  }
  a{
    margin-bottom: 10px;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.6;
  }
  .mpickers{
    width: 100%;
    height: 100%;
     font-size:
      large;
    color: #000;
  }
.mMargin-bottom{
  margin-bottom: 10px;
}

.no-click {
  pointer-events:none; //This makes it not clickable
}
.this-user{
  background-color: aqua !important;
  color: #000;
}
.joinedcount{
  text-align-last: center;
  margin: 5px;
}

