<ion-header [translucent]="true">
  <ion-toolbar class="myBackgroundColor">
    <ion-title color="light">
      Collaber
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar placeholder="Filter groups" (ionInput)="getItems($event)"></ion-searchbar>
  <ion-grid>
    <ion-row *ngFor="let group of myGroups; let i = index " >
      <ion-item-divider class='divider' >
      <ion-col  size="2">
        <ion-avatar>
        <ion-img src="..\..\assets\icon\logo.jpeg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col (click)='viewGroup(group.id)'  *ngIf="group.data().isPrivate" size="8">
       <h4  class='mfont'><ion-icon name="lock-closed"></ion-icon>&nbsp; <b style='vertical-align: top'>{{group.data().Name}}</b></h4>
      </ion-col>
      <ion-col (click)='viewGroup(group.id)'  *ngIf="!group.data().isPrivate" size="8">
        <h4 class='mfont'> <b >{{group.data().Name }}</b></h4>
      </ion-col>
      <ion-col size='2'>
          <ion-button (click)="presentPopover($event,group.id,isAdmin[i])" color="dark" fill="clear">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
      </ion-col>
      <ion-item-divider></ion-item-divider>
    </ion-item-divider>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)='createGroup()'>
      <ion-icon name="people-outline"></ion-icon><ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" >
    <ion-fab-button color='success' (click)='goJoin()'>
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>

  </ion-fab>

</ion-content>
<ion-footer>

</ion-footer>
