<ion-header [translucent]="true">
  <ion-toolbar class="myBackgroundColor">
    <ion-title color="light">
      Collaber
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar placeholder="Filter groups" (ionInput)="getItems($event)"></ion-searchbar>
  <ion-grid>
    <ion-row  *ngFor="let group of myGroups; let i = index ">
      <ion-item-divider style="color:black;">
      <ion-col size="3">
        <ion-avatar>
        <ion-img src="..\..\assets\icon\logo.jpeg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col *ngIf="group.data().isPrivate" size="7">

       <h4 style='font-family: Arial, Helvetica, sans-serif;'><ion-icon name="lock-closed"></ion-icon>&nbsp; <b>{{group.data().Name}}</b></h4>
      </ion-col>
      <ion-col  *ngIf="!group.data().isPrivate" size="7">
        <h4 style='font-family: Arial, Helvetica, sans-serif;'><ion-icon name="lock-open"></ion-icon>&nbsp; <b>{{group.data().Name}}</b></h4>
      </ion-col>
      <ion-col size='2'>
          <ion-button (click)="presentPopover($event,group.id)" color="dark" fill="clear">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
      </ion-col>
      <ion-item-divider></ion-item-divider>
    </ion-item-divider>
    </ion-row>
  </ion-grid>
</ion-content>
